body {

    @import "../base/mixin";
    @import "../base/fondo";

    /* HEADER */

    header {

        @include estilos;

        nav {

            @include fondo;

            ul {
                @include hover;
                list-style-type: none;
                display: flex;

                .navbar-css {
                    display: flex;
                    font-size: 23px;
                    margin-top: 20px;
                    margin-left: 20px;

                }

                li {
                    margin-top: 15px;
                    margin-right: 30px;
                }

                a {
                    text-decoration: none;
                    color: $colorHeader;
                }
            }
        }
    }


    /* MAIN */

    main {
        margin-top: 30px;
        margin-bottom: 40px;

        h3 {
            color: $colorH3;
            margin-left: 15px;
            font-size: 25px;
        }

        .gridSEDES {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;

            .sedesINFO {
                padding: 50px;
            }
        }

        .iframeMAPS {
            margin-left: 40px;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 20px;

        }

    }

    /* FOOTER */

    footer {

        .margenFooter {
            margin-right: 100px;
            margin-left: 100px;
            margin-bottom: 100px;

            div {
                a {
                    .margenIG {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        margin-left: 100px;
                        margin-right: auto;
                    }

                    .margenFB {
                        position: absolute;
                        margin-left: 1200px;
                        margin-right: auto;
                        width: 20px;
                        height: auto;
                    }
                }
            }
        }
    }

}